/target
/tmp/
__pycache__/
/.editor/
/assets/local/
/assets/generated/
/content/*.project.sqlite
*.sqlite-wal
*.sqlite-shm
*.sqlite-journal
*.sqlite.building
.DS_Store
**/xcuserdata/
**/com.apple.DeveloperTools/
