(schema_version: 1, assets: [
(key: "yarra_pines/pine_a", display_name: "Pine A", source_uri: "local/yarra_pines/source/pine_tree.hiplc", variants: [
(uri: "local/yarra_pines/runtime/pine_a/pine_a_lod0.gltf", bounds: (7.3702, 23.7513, 10.4104), gpu_bytes_estimate: 578952, minimum_screen_height: 640.0),
(uri: "local/yarra_pines/runtime/pine_a/pine_a_lod1.gltf", bounds: (7.3702, 23.7513, 10.4104), gpu_bytes_estimate: 473808, minimum_screen_height: 320.0),
(uri: "local/yarra_pines/runtime/pine_a/pine_a_lod2.gltf", bounds: (7.3702, 23.7513, 10.4104), gpu_bytes_estimate: 241248, minimum_screen_height: 160.0),
(uri: "local/yarra_pines/runtime/pine_a/pine_a_lod3.gltf", bounds: (7.3702, 23.7513, 10.4104), gpu_bytes_estimate: 106548, minimum_screen_height: 0.0),
]),
(key: "yarra_pines/pine_b", display_name: "Pine B", source_uri: "local/yarra_pines/source/pine_tree.hiplc", variants: [
(uri: "local/yarra_pines/runtime/pine_b/pine_b_lod0.gltf", bounds: (6.4289, 20.0557, 7.1460), gpu_bytes_estimate: 510192, minimum_screen_height: 640.0),
(uri: "local/yarra_pines/runtime/pine_b/pine_b_lod1.gltf", bounds: (6.4289, 20.0557, 7.1460), gpu_bytes_estimate: 409272, minimum_screen_height: 320.0),
(uri: "local/yarra_pines/runtime/pine_b/pine_b_lod2.gltf", bounds: (6.4289, 20.0557, 7.1460), gpu_bytes_estimate: 194160, minimum_screen_height: 160.0),
(uri: "local/yarra_pines/runtime/pine_b/pine_b_lod3.gltf", bounds: (6.4289, 20.0557, 7.1460), gpu_bytes_estimate: 89640, minimum_screen_height: 0.0),
]),
(key: "yarra_pines/pine_c", display_name: "Pine C", source_uri: "local/yarra_pines/source/pine_tree.hiplc", variants: [
(uri: "local/yarra_pines/runtime/pine_c/pine_c_lod0.gltf", bounds: (12.6409, 25.8345, 10.1450), gpu_bytes_estimate: 533592, minimum_screen_height: 640.0),
(uri: "local/yarra_pines/runtime/pine_c/pine_c_lod1.gltf", bounds: (12.6409, 25.8345, 10.1450), gpu_bytes_estimate: 430416, minimum_screen_height: 320.0),
(uri: "local/yarra_pines/runtime/pine_c/pine_c_lod2.gltf", bounds: (12.6409, 25.8345, 10.1450), gpu_bytes_estimate: 216864, minimum_screen_height: 160.0),
(uri: "local/yarra_pines/runtime/pine_c/pine_c_lod3.gltf", bounds: (12.6409, 25.8345, 10.1450), gpu_bytes_estimate: 100200, minimum_screen_height: 0.0),
]),
(key: "yarra_pines/pine_d", display_name: "Pine D", source_uri: "local/yarra_pines/source/pine_tree.hiplc", variants: [
(uri: "local/yarra_pines/runtime/pine_d/pine_d_lod0.gltf", bounds: (6.1538, 15.5240, 5.5380), gpu_bytes_estimate: 496152, minimum_screen_height: 640.0),
(uri: "local/yarra_pines/runtime/pine_d/pine_d_lod1.gltf", bounds: (6.1538, 15.5240, 5.5380), gpu_bytes_estimate: 404784, minimum_screen_height: 320.0),
(uri: "local/yarra_pines/runtime/pine_d/pine_d_lod2.gltf", bounds: (6.1538, 15.5240, 5.5380), gpu_bytes_estimate: 200640, minimum_screen_height: 160.0),
(uri: "local/yarra_pines/runtime/pine_d/pine_d_lod3.gltf", bounds: (6.1538, 15.5240, 5.5380), gpu_bytes_estimate: 90936, minimum_screen_height: 0.0),
]),
(key: "yarra_pines/pine_e", display_name: "Pine E", source_uri: "local/yarra_pines/source/pine_tree.hiplc", variants: [
(uri: "local/yarra_pines/runtime/pine_e/pine_e_lod0.gltf", bounds: (9.5342, 21.5489, 13.8446), gpu_bytes_estimate: 558120, minimum_screen_height: 640.0),
(uri: "local/yarra_pines/runtime/pine_e/pine_e_lod1.gltf", bounds: (9.5342, 21.5489, 13.8446), gpu_bytes_estimate: 452256, minimum_screen_height: 320.0),
(uri: "local/yarra_pines/runtime/pine_e/pine_e_lod2.gltf", bounds: (9.5342, 21.5489, 13.8446), gpu_bytes_estimate: 218904, minimum_screen_height: 160.0),
(uri: "local/yarra_pines/runtime/pine_e/pine_e_lod3.gltf", bounds: (9.5342, 21.5489, 13.8446), gpu_bytes_estimate: 96936, minimum_screen_height: 0.0),
]),
(key: "yarra_pines/pine_f", display_name: "Pine F", source_uri: "local/yarra_pines/source/pine_tree.hiplc", variants: [
(uri: "local/yarra_pines/runtime/pine_f/pine_f_lod0.gltf", bounds: (7.3535, 25.3699, 10.4328), gpu_bytes_estimate: 445824, minimum_screen_height: 640.0),
(uri: "local/yarra_pines/runtime/pine_f/pine_f_lod1.gltf", bounds: (7.3535, 25.3699, 10.4328), gpu_bytes_estimate: 355848, minimum_screen_height: 320.0),
(uri: "local/yarra_pines/runtime/pine_f/pine_f_lod2.gltf", bounds: (7.3535, 25.3699, 10.4328), gpu_bytes_estimate: 173424, minimum_screen_height: 160.0),
(uri: "local/yarra_pines/runtime/pine_f/pine_f_lod3.gltf", bounds: (7.3535, 25.3699, 10.4328), gpu_bytes_estimate: 75084, minimum_screen_height: 0.0),
]),
])
