(schema_version: 1, assets: [
(key: "forest_tree_starter_kit/tree_01", display_name: "Forest Tree 01 (Summer)",
source_uri: "local/forest_tree_starter_kit/source/tree_01/DA_Forest_Tree_5194_Tris.FBX", variants: [
(uri: "local/forest_tree_starter_kit/runtime/tree_01/summer/tree_01_summer_lod0.gltf", bounds: (4.9842, 7.4791, 5.1952),
gpu_bytes_estimate: 878836, minimum_screen_height: 320.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_01/summer/tree_01_summer_lod1.gltf", bounds: (4.9842, 7.4791, 5.1952),
gpu_bytes_estimate: 346552, minimum_screen_height: 160.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_01/summer/tree_01_summer_lod2.gltf", bounds: (4.9842, 7.4791, 5.1952),
gpu_bytes_estimate: 112388, minimum_screen_height: 80.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_01/summer/tree_01_summer_lod3.gltf", bounds: (4.9842, 7.4791, 5.1952),
gpu_bytes_estimate: 58988, minimum_screen_height: 0.0),
]),
(key: "forest_tree_starter_kit/tree_02", display_name: "Forest Tree 02 (Summer)",
source_uri: "local/forest_tree_starter_kit/source/tree_02/DA_Forest_Tree_5639_Tris.FBX", variants: [
(uri: "local/forest_tree_starter_kit/runtime/tree_02/summer/tree_02_summer_lod0.gltf", bounds: (5.1189, 12.3418, 4.4544),
gpu_bytes_estimate: 293732, minimum_screen_height: 320.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_02/summer/tree_02_summer_lod1.gltf", bounds: (5.1189, 12.3418, 4.4544),
gpu_bytes_estimate: 156432, minimum_screen_height: 160.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_02/summer/tree_02_summer_lod2.gltf", bounds: (5.1189, 12.3418, 4.4544),
gpu_bytes_estimate: 82976, minimum_screen_height: 80.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_02/summer/tree_02_summer_lod3.gltf", bounds: (5.1189, 12.3418, 4.4544),
gpu_bytes_estimate: 40384, minimum_screen_height: 0.0),
]),
(key: "forest_tree_starter_kit/tree_03", display_name: "Forest Tree 03 (Summer)",
source_uri: "local/forest_tree_starter_kit/source/tree_03/DA_Forest_Tree_5857_Tris.FBX", variants: [
(uri: "local/forest_tree_starter_kit/runtime/tree_03/summer/tree_03_summer_lod0.gltf", bounds: (5.3546, 12.6296, 4.3398),
gpu_bytes_estimate: 305624, minimum_screen_height: 320.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_03/summer/tree_03_summer_lod1.gltf", bounds: (5.3546, 12.6296, 4.3398),
gpu_bytes_estimate: 163272, minimum_screen_height: 160.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_03/summer/tree_03_summer_lod2.gltf", bounds: (5.3546, 12.6296, 4.3398),
gpu_bytes_estimate: 88464, minimum_screen_height: 80.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_03/summer/tree_03_summer_lod3.gltf", bounds: (5.3546, 12.6296, 4.3398),
gpu_bytes_estimate: 43944, minimum_screen_height: 0.0),
]),
(key: "forest_tree_starter_kit/tree_04", display_name: "Forest Tree 04 (Summer)",
source_uri: "local/forest_tree_starter_kit/source/tree_04/DA_Forest_Tree_7071_Tris.FBX", variants: [
(uri: "local/forest_tree_starter_kit/runtime/tree_04/summer/tree_04_summer_lod0.gltf", bounds: (5.0118, 16.4631, 5.1861),
gpu_bytes_estimate: 368516, minimum_screen_height: 320.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_04/summer/tree_04_summer_lod1.gltf", bounds: (5.0118, 16.4631, 5.1861),
gpu_bytes_estimate: 198996, minimum_screen_height: 160.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_04/summer/tree_04_summer_lod2.gltf", bounds: (5.0118, 16.4631, 5.1861),
gpu_bytes_estimate: 108456, minimum_screen_height: 80.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_04/summer/tree_04_summer_lod3.gltf", bounds: (5.0118, 16.4631, 5.1861),
gpu_bytes_estimate: 54376, minimum_screen_height: 0.0),
]),
(key: "forest_tree_starter_kit/tree_05", display_name: "Forest Tree 05 (Summer)",
source_uri: "local/forest_tree_starter_kit/source/tree_05/DA_Forest_Tree_7339_Tris.FBX", variants: [
(uri: "local/forest_tree_starter_kit/runtime/tree_05/summer/tree_05_summer_lod0.gltf", bounds: (6.5016, 12.2341, 5.4179),
gpu_bytes_estimate: 380820, minimum_screen_height: 320.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_05/summer/tree_05_summer_lod1.gltf", bounds: (6.5016, 12.2341, 5.4179),
gpu_bytes_estimate: 213452, minimum_screen_height: 160.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_05/summer/tree_05_summer_lod2.gltf", bounds: (6.5016, 12.2341, 5.4179),
gpu_bytes_estimate: 90036, minimum_screen_height: 80.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_05/summer/tree_05_summer_lod3.gltf", bounds: (6.5016, 12.2341, 5.4179),
gpu_bytes_estimate: 44300, minimum_screen_height: 0.0),
]),
(key: "forest_tree_starter_kit/tree_06", display_name: "Forest Tree 06 (Summer)",
source_uri: "local/forest_tree_starter_kit/source/tree_06/DA_Forest_Tree_7733_Tris.FBX", variants: [
(uri: "local/forest_tree_starter_kit/runtime/tree_06/summer/tree_06_summer_lod0.gltf", bounds: (5.1307, 11.815, 5.1261),
gpu_bytes_estimate: 403344, minimum_screen_height: 320.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_06/summer/tree_06_summer_lod1.gltf", bounds: (5.1307, 11.815, 5.1261),
gpu_bytes_estimate: 216312, minimum_screen_height: 160.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_06/summer/tree_06_summer_lod2.gltf", bounds: (5.1307, 11.815, 5.1261),
gpu_bytes_estimate: 114892, minimum_screen_height: 80.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_06/summer/tree_06_summer_lod3.gltf", bounds: (5.1307, 11.815, 5.1261),
gpu_bytes_estimate: 55552, minimum_screen_height: 0.0),
]),
(key: "forest_tree_starter_kit/tree_07", display_name: "Forest Tree 07 (Summer)",
source_uri: "local/forest_tree_starter_kit/source/tree_07/DA_Forest_Tree_11364_Tris.FBX", variants: [
(uri: "local/forest_tree_starter_kit/runtime/tree_07/summer/tree_07_summer_lod0.gltf", bounds: (7.9161, 15.9346, 5.5864),
gpu_bytes_estimate: 593464, minimum_screen_height: 320.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_07/summer/tree_07_summer_lod1.gltf", bounds: (7.9161, 15.9346, 5.5864),
gpu_bytes_estimate: 324612, minimum_screen_height: 160.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_07/summer/tree_07_summer_lod2.gltf", bounds: (7.9161, 15.9346, 5.5864),
gpu_bytes_estimate: 175064, minimum_screen_height: 80.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_07/summer/tree_07_summer_lod3.gltf", bounds: (7.9161, 15.9346, 5.5864),
gpu_bytes_estimate: 85164, minimum_screen_height: 0.0),
]),
(key: "forest_tree_starter_kit/tree_08", display_name: "Forest Tree 08 (Summer)",
source_uri: "local/forest_tree_starter_kit/source/tree_08/DA_Forest_Tree_12762_Tris.FBX", variants: [
(uri: "local/forest_tree_starter_kit/runtime/tree_08/summer/tree_08_summer_lod0.gltf", bounds: (6.8936, 12.2508, 6.6998),
gpu_bytes_estimate: 673748, minimum_screen_height: 320.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_08/summer/tree_08_summer_lod1.gltf", bounds: (6.8936, 12.2508, 6.6998),
gpu_bytes_estimate: 364936, minimum_screen_height: 160.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_08/summer/tree_08_summer_lod2.gltf", bounds: (6.8936, 12.2508, 6.6998),
gpu_bytes_estimate: 168192, minimum_screen_height: 80.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_08/summer/tree_08_summer_lod3.gltf", bounds: (6.8936, 12.2508, 6.6998),
gpu_bytes_estimate: 80940, minimum_screen_height: 0.0),
]),
(key: "forest_tree_starter_kit/tree_09", display_name: "Forest Tree 09 (Summer)",
source_uri: "local/forest_tree_starter_kit/source/tree_09/DA_Forest_Tree_14733_Tris.FBX", variants: [
(uri: "local/forest_tree_starter_kit/runtime/tree_09/summer/tree_09_summer_lod0.gltf", bounds: (7.0237, 12.0593, 6.7856),
gpu_bytes_estimate: 789352, minimum_screen_height: 320.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_09/summer/tree_09_summer_lod1.gltf", bounds: (7.0237, 12.0593, 6.7856),
gpu_bytes_estimate: 434352, minimum_screen_height: 160.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_09/summer/tree_09_summer_lod2.gltf", bounds: (7.0237, 12.0593, 6.7856),
gpu_bytes_estimate: 154164, minimum_screen_height: 80.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_09/summer/tree_09_summer_lod3.gltf", bounds: (7.0237, 12.0593, 6.7856),
gpu_bytes_estimate: 74720, minimum_screen_height: 0.0),
]),
(key: "forest_tree_starter_kit/tree_10", display_name: "Forest Tree 10 (Summer)",
source_uri: "local/forest_tree_starter_kit/source/tree_10/DA_Forest_Tree_16018_Tris.FBX", variants: [
(uri: "local/forest_tree_starter_kit/runtime/tree_10/summer/tree_10_summer_lod0.gltf", bounds: (6.7955, 12.859, 7.3726),
gpu_bytes_estimate: 849700, minimum_screen_height: 320.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_10/summer/tree_10_summer_lod1.gltf", bounds: (6.7955, 12.859, 7.3726),
gpu_bytes_estimate: 462180, minimum_screen_height: 160.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_10/summer/tree_10_summer_lod2.gltf", bounds: (6.7955, 12.859, 7.3726),
gpu_bytes_estimate: 194616, minimum_screen_height: 80.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_10/summer/tree_10_summer_lod3.gltf", bounds: (6.7955, 12.859, 7.3726),
gpu_bytes_estimate: 94232, minimum_screen_height: 0.0),
]),
(key: "forest_tree_starter_kit/tree_11", display_name: "Forest Tree 11 (Summer)",
source_uri: "local/forest_tree_starter_kit/source/tree_11/DA_Forest_Tree_18195_Tris.FBX", variants: [
(uri: "local/forest_tree_starter_kit/runtime/tree_11/summer/tree_11_summer_lod0.gltf", bounds: (7.1125, 11.7495, 7.5587),
gpu_bytes_estimate: 966812, minimum_screen_height: 320.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_11/summer/tree_11_summer_lod1.gltf", bounds: (7.1125, 11.7495, 7.5587),
gpu_bytes_estimate: 527584, minimum_screen_height: 160.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_11/summer/tree_11_summer_lod2.gltf", bounds: (7.1125, 11.7495, 7.5587),
gpu_bytes_estimate: 211332, minimum_screen_height: 80.0),
(uri: "local/forest_tree_starter_kit/runtime/tree_11/summer/tree_11_summer_lod3.gltf", bounds: (7.1125, 11.7495, 7.5587),
gpu_bytes_estimate: 101660, minimum_screen_height: 0.0),
]),
(key: "forest_tree_starter_kit/shrub_01", display_name: "Forest Shrub 01 (Summer)",
source_uri: "local/forest_tree_starter_kit/source/shrub_01/DA_Forest_Tree_107_Tris.FBX", variants: [
(uri: "local/forest_tree_starter_kit/runtime/shrub_01/summer/shrub_01_summer_lod0.gltf", bounds: (1.1615, 1.1903, 1.3873),
gpu_bytes_estimate: 5908, minimum_screen_height: 320.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_01/summer/shrub_01_summer_lod1.gltf", bounds: (1.1615, 1.1903, 1.3873),
gpu_bytes_estimate: 6188, minimum_screen_height: 160.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_01/summer/shrub_01_summer_lod2.gltf", bounds: (1.1615, 1.1903, 1.3873),
gpu_bytes_estimate: 3332, minimum_screen_height: 80.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_01/summer/shrub_01_summer_lod3.gltf", bounds: (1.1615, 1.1903, 1.3873),
gpu_bytes_estimate: 1604, minimum_screen_height: 0.0),
]),
(key: "forest_tree_starter_kit/shrub_02", display_name: "Forest Shrub 02 (Summer)",
source_uri: "local/forest_tree_starter_kit/source/shrub_02/DA_Forest_Tree_345_Tris.FBX", variants: [
(uri: "local/forest_tree_starter_kit/runtime/shrub_02/summer/shrub_02_summer_lod0.gltf", bounds: (1.2834, 2.3609, 1.7374),
gpu_bytes_estimate: 18704, minimum_screen_height: 320.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_02/summer/shrub_02_summer_lod1.gltf", bounds: (1.2834, 2.3609, 1.7374),
gpu_bytes_estimate: 10868, minimum_screen_height: 160.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_02/summer/shrub_02_summer_lod2.gltf", bounds: (1.2834, 2.3609, 1.7374),
gpu_bytes_estimate: 4808, minimum_screen_height: 80.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_02/summer/shrub_02_summer_lod3.gltf", bounds: (1.2834, 2.3609, 1.7374),
gpu_bytes_estimate: 2264, minimum_screen_height: 0.0),
]),
(key: "forest_tree_starter_kit/shrub_03", display_name: "Forest Shrub 03 (Summer)",
source_uri: "local/forest_tree_starter_kit/source/shrub_03/DA_Forest_Tree_436_Tris.FBX", variants: [
(uri: "local/forest_tree_starter_kit/runtime/shrub_03/summer/shrub_03_summer_lod0.gltf", bounds: (1.7132, 2.5657, 1.8695),
gpu_bytes_estimate: 24568, minimum_screen_height: 320.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_03/summer/shrub_03_summer_lod1.gltf", bounds: (1.7132, 2.5657, 1.8695),
gpu_bytes_estimate: 13780, minimum_screen_height: 160.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_03/summer/shrub_03_summer_lod2.gltf", bounds: (1.7132, 2.5657, 1.8695),
gpu_bytes_estimate: 7180, minimum_screen_height: 80.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_03/summer/shrub_03_summer_lod3.gltf", bounds: (1.7132, 2.5657, 1.8695),
gpu_bytes_estimate: 3480, minimum_screen_height: 0.0),
]),
(key: "forest_tree_starter_kit/shrub_04", display_name: "Forest Shrub 04 (Summer)",
source_uri: "local/forest_tree_starter_kit/source/shrub_04/DA_Forest_Tree_491_Tris.FBX", variants: [
(uri: "local/forest_tree_starter_kit/runtime/shrub_04/summer/shrub_04_summer_lod0.gltf", bounds: (1.9679, 2.4375, 1.8227),
gpu_bytes_estimate: 26748, minimum_screen_height: 320.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_04/summer/shrub_04_summer_lod1.gltf", bounds: (1.9679, 2.4375, 1.8227),
gpu_bytes_estimate: 15692, minimum_screen_height: 160.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_04/summer/shrub_04_summer_lod2.gltf", bounds: (1.9679, 2.4375, 1.8227),
gpu_bytes_estimate: 7252, minimum_screen_height: 80.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_04/summer/shrub_04_summer_lod3.gltf", bounds: (1.9679, 2.4375, 1.8227),
gpu_bytes_estimate: 3480, minimum_screen_height: 0.0),
]),
(key: "forest_tree_starter_kit/shrub_05", display_name: "Forest Shrub 05 (Summer)",
source_uri: "local/forest_tree_starter_kit/source/shrub_05/DA_Forest_Tree_510_Tris.FBX", variants: [
(uri: "local/forest_tree_starter_kit/runtime/shrub_05/summer/shrub_05_summer_lod0.gltf", bounds: (2.1526, 2.1294, 2.1677),
gpu_bytes_estimate: 28932, minimum_screen_height: 320.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_05/summer/shrub_05_summer_lod1.gltf", bounds: (2.1526, 2.1294, 2.1677),
gpu_bytes_estimate: 17200, minimum_screen_height: 160.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_05/summer/shrub_05_summer_lod2.gltf", bounds: (2.1526, 2.1294, 2.1677),
gpu_bytes_estimate: 8676, minimum_screen_height: 80.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_05/summer/shrub_05_summer_lod3.gltf", bounds: (2.1526, 2.1294, 2.1677),
gpu_bytes_estimate: 4176, minimum_screen_height: 0.0),
]),
(key: "forest_tree_starter_kit/shrub_06", display_name: "Forest Shrub 06 (Summer)",
source_uri: "local/forest_tree_starter_kit/source/shrub_06/DA_Forest_Tree_2558_Tris.FBX", variants: [
(uri: "local/forest_tree_starter_kit/runtime/shrub_06/summer/shrub_06_summer_lod0.gltf", bounds: (4.2496, 4.5015, 4.1022),
gpu_bytes_estimate: 141360, minimum_screen_height: 320.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_06/summer/shrub_06_summer_lod1.gltf", bounds: (4.2496, 4.5015, 4.1022),
gpu_bytes_estimate: 77964, minimum_screen_height: 160.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_06/summer/shrub_06_summer_lod2.gltf", bounds: (4.2496, 4.5015, 4.1022),
gpu_bytes_estimate: 46152, minimum_screen_height: 80.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_06/summer/shrub_06_summer_lod3.gltf", bounds: (4.2496, 4.5015, 4.1022),
gpu_bytes_estimate: 28864, minimum_screen_height: 0.0),
]),
(key: "forest_tree_starter_kit/shrub_07", display_name: "Forest Shrub 07 (Summer)",
source_uri: "local/forest_tree_starter_kit/source/shrub_07/DA_Forest_Tree_2853_Tris.FBX", variants: [
(uri: "local/forest_tree_starter_kit/runtime/shrub_07/summer/shrub_07_summer_lod0.gltf", bounds: (3.7388, 2.5718, 4.6409),
gpu_bytes_estimate: 159820, minimum_screen_height: 320.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_07/summer/shrub_07_summer_lod1.gltf", bounds: (3.7388, 2.5718, 4.6409),
gpu_bytes_estimate: 60648, minimum_screen_height: 160.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_07/summer/shrub_07_summer_lod2.gltf", bounds: (3.7388, 2.5718, 4.6409),
gpu_bytes_estimate: 38156, minimum_screen_height: 80.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_07/summer/shrub_07_summer_lod3.gltf", bounds: (3.7388, 2.5718, 4.6409),
gpu_bytes_estimate: 18344, minimum_screen_height: 0.0),
]),
(key: "forest_tree_starter_kit/shrub_08", display_name: "Forest Shrub 08 (Summer)",
source_uri: "local/forest_tree_starter_kit/source/shrub_08/DA_Forest_Tree_3172_Tris.FBX", variants: [
(uri: "local/forest_tree_starter_kit/runtime/shrub_08/summer/shrub_08_summer_lod0.gltf", bounds: (5.1505, 6.8979, 3.8473),
gpu_bytes_estimate: 174040, minimum_screen_height: 320.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_08/summer/shrub_08_summer_lod1.gltf", bounds: (5.1505, 6.8979, 3.8473),
gpu_bytes_estimate: 92728, minimum_screen_height: 160.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_08/summer/shrub_08_summer_lod2.gltf", bounds: (5.1505, 6.8979, 3.8473),
gpu_bytes_estimate: 56072, minimum_screen_height: 80.0),
(uri: "local/forest_tree_starter_kit/runtime/shrub_08/summer/shrub_08_summer_lod3.gltf", bounds: (5.1505, 6.8979, 3.8473),
gpu_bytes_estimate: 27156, minimum_screen_height: 0.0),
]),
])
