(schema_version: 1, assets: [
(key: "yarra_pines_v2/pine_forest", display_name: "Pine Forest", source_uri: "local/yarra_pines_v2/source/pine_forest.glb", variants: [
(uri: "local/yarra_pines_v2/runtime/pine_forest/pine_forest_lod0.gltf", bounds: (12.8484, 21.8164, 12.2452), gpu_bytes_estimate: 905760, minimum_screen_height: 480.0),
(uri: "local/yarra_pines_v2/runtime/pine_forest/pine_forest_lod1.gltf", bounds: (12.8484, 21.8164, 12.2452), gpu_bytes_estimate: 323928, minimum_screen_height: 180.0),
(uri: "local/yarra_pines_v2/runtime/pine_forest/pine_forest_lod2.gltf", bounds: (12.8484, 21.8164, 12.2452), gpu_bytes_estimate: 180912, minimum_screen_height: 0.0),
]),
(key: "yarra_pines_v2/pine_young", display_name: "Pine Young", source_uri: "local/yarra_pines_v2/source/pine_young.glb", variants: [
(uri: "local/yarra_pines_v2/runtime/pine_young/pine_young_lod0.gltf", bounds: (6.5671, 9.4328, 6.9637), gpu_bytes_estimate: 730728, minimum_screen_height: 480.0),
(uri: "local/yarra_pines_v2/runtime/pine_young/pine_young_lod1.gltf", bounds: (6.5671, 9.4328, 6.9637), gpu_bytes_estimate: 249720, minimum_screen_height: 180.0),
(uri: "local/yarra_pines_v2/runtime/pine_young/pine_young_lod2.gltf", bounds: (6.5671, 9.4328, 6.9637), gpu_bytes_estimate: 129576, minimum_screen_height: 0.0),
]),
(key: "yarra_pines_v2/pine_open", display_name: "Pine Open", source_uri: "local/yarra_pines_v2/source/pine_open.glb", variants: [
(uri: "local/yarra_pines_v2/runtime/pine_open/pine_open_lod0.gltf", bounds: (14.6583, 19.0745, 14.6601), gpu_bytes_estimate: 953784, minimum_screen_height: 480.0),
(uri: "local/yarra_pines_v2/runtime/pine_open/pine_open_lod1.gltf", bounds: (14.6583, 19.0745, 14.6601), gpu_bytes_estimate: 329592, minimum_screen_height: 180.0),
(uri: "local/yarra_pines_v2/runtime/pine_open/pine_open_lod2.gltf", bounds: (14.6583, 19.0745, 14.6601), gpu_bytes_estimate: 179064, minimum_screen_height: 0.0),
]),
(key: "yarra_pines_v2/pine_half_bare", display_name: "Pine Half Bare", source_uri: "local/yarra_pines_v2/source/pine_half_bare.glb", variants: [
(uri: "local/yarra_pines_v2/runtime/pine_half_bare/pine_half_bare_lod0.gltf", bounds: (11.5077, 21.8164, 11.0564), gpu_bytes_estimate: 628848, minimum_screen_height: 480.0),
(uri: "local/yarra_pines_v2/runtime/pine_half_bare/pine_half_bare_lod1.gltf", bounds: (11.5077, 21.8164, 11.0564), gpu_bytes_estimate: 243192, minimum_screen_height: 180.0),
(uri: "local/yarra_pines_v2/runtime/pine_half_bare/pine_half_bare_lod2.gltf", bounds: (11.5077, 21.8164, 11.0564), gpu_bytes_estimate: 158976, minimum_screen_height: 0.0),
]),
(key: "yarra_pines_v2/pine_nearly_bare", display_name: "Pine Nearly Bare", source_uri: "local/yarra_pines_v2/source/pine_nearly_bare.glb", variants: [
(uri: "local/yarra_pines_v2/runtime/pine_nearly_bare/pine_nearly_bare_lod0.gltf", bounds: (11.5077, 21.5762, 10.5458), gpu_bytes_estimate: 403776, minimum_screen_height: 480.0),
(uri: "local/yarra_pines_v2/runtime/pine_nearly_bare/pine_nearly_bare_lod1.gltf", bounds: (11.5077, 21.5762, 10.5458), gpu_bytes_estimate: 183024, minimum_screen_height: 180.0),
(uri: "local/yarra_pines_v2/runtime/pine_nearly_bare/pine_nearly_bare_lod2.gltf", bounds: (11.5077, 21.5762, 10.5458), gpu_bytes_estimate: 139392, minimum_screen_height: 0.0),
]),
(key: "yarra_pines_v2/pine_one_sided", display_name: "Pine One Sided", source_uri: "local/yarra_pines_v2/source/pine_one_sided.glb", variants: [
(uri: "local/yarra_pines_v2/runtime/pine_one_sided/pine_one_sided_lod0.gltf", bounds: (11.1355, 21.5762, 9.9598), gpu_bytes_estimate: 653136, minimum_screen_height: 480.0),
(uri: "local/yarra_pines_v2/runtime/pine_one_sided/pine_one_sided_lod1.gltf", bounds: (11.1355, 21.5762, 9.9598), gpu_bytes_estimate: 232944, minimum_screen_height: 180.0),
(uri: "local/yarra_pines_v2/runtime/pine_one_sided/pine_one_sided_lod2.gltf", bounds: (11.1355, 21.5762, 9.9598), gpu_bytes_estimate: 127272, minimum_screen_height: 0.0),
]),
])
