(schema_version: 1, assets: [
(key: "yarra_oaks/oak_forest", display_name: "Oak Forest", source_uri: "local/yarra_oaks/source/oak_forest.glb", variants: [
(uri: "local/yarra_oaks/runtime/oak_forest/oak_forest_lod0.gltf", bounds: (16.7353, 19.2182, 17.0012), gpu_bytes_estimate: 722376, minimum_screen_height: 480.0),
(uri: "local/yarra_oaks/runtime/oak_forest/oak_forest_lod1.gltf", bounds: (16.7353, 19.2182, 17.0012), gpu_bytes_estimate: 228504, minimum_screen_height: 180.0),
(uri: "local/yarra_oaks/runtime/oak_forest/oak_forest_lod2.gltf", bounds: (16.7353, 19.2182, 17.0012), gpu_bytes_estimate: 121128, minimum_screen_height: 0.0),
]),
(key: "yarra_oaks/oak_spreading", display_name: "Oak Spreading", source_uri: "local/yarra_oaks/source/oak_spreading.glb", variants: [
(uri: "local/yarra_oaks/runtime/oak_spreading/oak_spreading_lod0.gltf", bounds: (20.5509, 15.7751, 20.6832), gpu_bytes_estimate: 776664, minimum_screen_height: 480.0),
(uri: "local/yarra_oaks/runtime/oak_spreading/oak_spreading_lod1.gltf", bounds: (20.5509, 15.7751, 20.6832), gpu_bytes_estimate: 253584, minimum_screen_height: 180.0),
(uri: "local/yarra_oaks/runtime/oak_spreading/oak_spreading_lod2.gltf", bounds: (20.5509, 15.7751, 20.6832), gpu_bytes_estimate: 141600, minimum_screen_height: 0.0),
]),
(key: "yarra_oaks/oak_sparse", display_name: "Oak Sparse", source_uri: "local/yarra_oaks/source/oak_sparse.glb", variants: [
(uri: "local/yarra_oaks/runtime/oak_sparse/oak_sparse_lod0.gltf", bounds: (16.0403, 19.1921, 16.3492), gpu_bytes_estimate: 721944, minimum_screen_height: 480.0),
(uri: "local/yarra_oaks/runtime/oak_sparse/oak_sparse_lod1.gltf", bounds: (16.0403, 19.1921, 16.3492), gpu_bytes_estimate: 207480, minimum_screen_height: 180.0),
(uri: "local/yarra_oaks/runtime/oak_sparse/oak_sparse_lod2.gltf", bounds: (16.0403, 19.1921, 16.3492), gpu_bytes_estimate: 82344, minimum_screen_height: 0.0),
]),
])
