(schema_version: 1, assets: [
(key: "yarra_dead_trees/dead_upright", display_name: "Dead Upright", source_uri: "local/yarra_dead_trees/source/dead_upright.glb", variants: [
(uri: "local/yarra_dead_trees/runtime/dead_upright/dead_upright_lod0.gltf", bounds: (10.7368, 15.4387, 11.2547), gpu_bytes_estimate: 1241288, minimum_screen_height: 480.0),
(uri: "local/yarra_dead_trees/runtime/dead_upright/dead_upright_lod1.gltf", bounds: (10.7368, 15.4387, 11.2547), gpu_bytes_estimate: 703720, minimum_screen_height: 240.0),
(uri: "local/yarra_dead_trees/runtime/dead_upright/dead_upright_lod2.gltf", bounds: (10.7368, 15.4387, 11.2547), gpu_bytes_estimate: 424984, minimum_screen_height: 200.0),
(uri: "local/yarra_dead_trees/runtime/dead_upright/dead_upright.impostor.json", bounds: (10.7368, 15.4387, 11.2547), gpu_bytes_estimate: 1813151, minimum_screen_height: 0.0),
]),
(key: "yarra_dead_trees/dead_spreading", display_name: "Dead Spreading", source_uri: "local/yarra_dead_trees/source/dead_spreading.glb", variants: [
(uri: "local/yarra_dead_trees/runtime/dead_spreading/dead_spreading_lod0.gltf", bounds: (16.6353, 12.5151, 14.5892), gpu_bytes_estimate: 1385848, minimum_screen_height: 480.0),
(uri: "local/yarra_dead_trees/runtime/dead_spreading/dead_spreading_lod1.gltf", bounds: (16.6353, 12.5151, 14.5892), gpu_bytes_estimate: 783696, minimum_screen_height: 240.0),
(uri: "local/yarra_dead_trees/runtime/dead_spreading/dead_spreading_lod2.gltf", bounds: (16.6353, 12.5151, 14.5892), gpu_bytes_estimate: 471416, minimum_screen_height: 200.0),
(uri: "local/yarra_dead_trees/runtime/dead_spreading/dead_spreading.impostor.json", bounds: (16.6353, 12.5151, 14.5892), gpu_bytes_estimate: 2116677, minimum_screen_height: 0.0),
]),
(key: "yarra_dead_trees/dead_split", display_name: "Dead Split", source_uri: "local/yarra_dead_trees/source/dead_split.glb", variants: [
(uri: "local/yarra_dead_trees/runtime/dead_split/dead_split_lod0.gltf", bounds: (12.7252, 13.8464, 12.7445), gpu_bytes_estimate: 1347192, minimum_screen_height: 480.0),
(uri: "local/yarra_dead_trees/runtime/dead_split/dead_split_lod1.gltf", bounds: (12.7252, 13.8464, 12.7445), gpu_bytes_estimate: 768280, minimum_screen_height: 240.0),
(uri: "local/yarra_dead_trees/runtime/dead_split/dead_split_lod2.gltf", bounds: (12.7252, 13.8464, 12.7445), gpu_bytes_estimate: 466736, minimum_screen_height: 200.0),
(uri: "local/yarra_dead_trees/runtime/dead_split/dead_split.impostor.json", bounds: (12.7252, 13.8464, 12.7445), gpu_bytes_estimate: 2081928, minimum_screen_height: 0.0),
]),
(key: "yarra_dead_trees/dead_slender", display_name: "Dead Slender", source_uri: "local/yarra_dead_trees/source/dead_slender.glb", variants: [
(uri: "local/yarra_dead_trees/runtime/dead_slender/dead_slender_lod0.gltf", bounds: (4.3592, 14.4818, 3.4009), gpu_bytes_estimate: 854440, minimum_screen_height: 480.0),
(uri: "local/yarra_dead_trees/runtime/dead_slender/dead_slender_lod1.gltf", bounds: (4.3592, 14.4818, 3.4009), gpu_bytes_estimate: 486768, minimum_screen_height: 240.0),
(uri: "local/yarra_dead_trees/runtime/dead_slender/dead_slender_lod2.gltf", bounds: (4.3592, 14.4818, 3.4009), gpu_bytes_estimate: 288792, minimum_screen_height: 200.0),
(uri: "local/yarra_dead_trees/runtime/dead_slender/dead_slender.impostor.json", bounds: (4.3592, 14.4818, 3.4009), gpu_bytes_estimate: 991344, minimum_screen_height: 0.0),
]),
(key: "yarra_dead_trees/dead_double", display_name: "Dead Double", source_uri: "local/yarra_dead_trees/source/dead_double.glb", variants: [
(uri: "local/yarra_dead_trees/runtime/dead_double/dead_double_lod0.gltf", bounds: (4.5878, 14.8830, 3.2976), gpu_bytes_estimate: 1231088, minimum_screen_height: 480.0),
(uri: "local/yarra_dead_trees/runtime/dead_double/dead_double_lod1.gltf", bounds: (4.5878, 14.8830, 3.2976), gpu_bytes_estimate: 697816, minimum_screen_height: 240.0),
(uri: "local/yarra_dead_trees/runtime/dead_double/dead_double_lod2.gltf", bounds: (4.5878, 14.8830, 3.2976), gpu_bytes_estimate: 414616, minimum_screen_height: 200.0),
(uri: "local/yarra_dead_trees/runtime/dead_double/dead_double.impostor.json", bounds: (4.5878, 14.8830, 3.2976), gpu_bytes_estimate: 1017324, minimum_screen_height: 0.0),
]),
(key: "yarra_dead_trees/dead_triple", display_name: "Dead Triple", source_uri: "local/yarra_dead_trees/source/dead_triple.glb", variants: [
(uri: "local/yarra_dead_trees/runtime/dead_triple/dead_triple_lod0.gltf", bounds: (3.7962, 13.4740, 4.5420), gpu_bytes_estimate: 1562736, minimum_screen_height: 480.0),
(uri: "local/yarra_dead_trees/runtime/dead_triple/dead_triple_lod1.gltf", bounds: (3.7962, 13.4740, 4.5420), gpu_bytes_estimate: 881288, minimum_screen_height: 240.0),
(uri: "local/yarra_dead_trees/runtime/dead_triple/dead_triple_lod2.gltf", bounds: (3.7962, 13.4740, 4.5420), gpu_bytes_estimate: 520640, minimum_screen_height: 200.0),
(uri: "local/yarra_dead_trees/runtime/dead_triple/dead_triple.impostor.json", bounds: (3.7962, 13.4740, 4.5420), gpu_bytes_estimate: 1168937, minimum_screen_height: 0.0),
]),
])
